/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #c12828;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    max-width: 200px;
  }
  
  .product img {
    max-width: 100%;
  }
  
  .cart {
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
  }
  
  #cart-items {
    list-style: none;
    padding: 0;
  }
  
  #cart-items li {
    margin-bottom: 0.5rem;
  }
  
  #checkout {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
  }
  
  #checkout:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  